body{
    margin: 0 auto;
    overflow: hidden;
}

.middle-align{
    position: absolute;
    top: 50%;
    left: 50%;
}

.middle-center{
    transform: translate(-50%, -50%);
}

.content{
    position: relative;
}

.bcg1{
    position: absolute;
    top: 100%;
}

.bcg2 {
    position: absolute;
    top: 200%;
}

.toolImg{
    height: auto;
}

.counter{
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100px;
    background: #fff;
    padding: 10px;
}

.counter div {
    margin-bottom: 15px;
}

.counter p{
    margin-left: 20px;
}

.counter a{
    margin-left: 90px;
}